#img1 {
    background-image: url("./../static/images/img1.jpg");
}

#img2 {
    background-image: url("./../static/images/img2.jpg");
}

#img3 {
    background-image: url("./../static/images/img3.jpg");
}